<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: html_head"/>

<body>

<div th:replace="fragments :: html_menu"/>

<div class="cover">
    <div class="show">
        <div class="show-item table">
            <h3>Sending Email</h3>
            <form th:action="@{/Sending}" method="post">
                <table>
                    <tr class="row">
                        <td class="form-label col-sm-2">Full_Name</td>
                        <td><input class="form-control col-sm-10" type="text" name="fullname" value="ABC Laundry"
                                   required/></td>
                    </tr>
                    <tr class="row">
                        <td class="form-label col-sm-2">Send_To_Email</td>
                        <td><input class="form-control col-sm-10" type="email" name="email" th:value="${Email}"
                                   required/></td>
                    </tr>
                    <tr class="row">
                        <td class="form-label col-sm-2">Subject</td>
                        <td><input class="form-control col-sm-10" type="text" value="Laundry please notify"
                                   name="subject" required/></td>
                    </tr>
                    <tr class="row">
                        <td class="form-label col-sm-2">Content</td>
                        <td>
                            <textarea rows="5" class="form-control col-sm-10" type="text" name="content">   Your service has been completed and has been shipped to you by a third party</textarea>
                        </td>
                    </tr>
                </table>
                <div class="row">
                    <button class="btn btn-info bg-info col-sm-2" type="submit" style="width:fit-content;margin:10px">
                        Send
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div th:replace="fragments :: html_toggle"/>
</div>

<!--Javascript-->
<div th:replace="fragments :: html_foot"/>
</body>

</html>