<html lang="en" class="csstransforms csstransforms3d csstransitions" style="height: auto;"><head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-143388487-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-143388487-1');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LaundryOnline</title>


    <!--Link Bootstrap-->
    <link rel="stylesheet" th:href="@{css/selfService.css}">

    <!-- Favicons
        ================================================== -->

    <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="favicons/manifest.json">
    <link rel="mask-icon" href="favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.css">

    <!-- Stylesheet
        ================================================== -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,700" rel="stylesheet">


</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!-- Navigation
    ==========================================-->
<nav id="menu" class="navbar navbar-default navbar-fixed-top on">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> </button>
            <a th:href="@{/home}" style="color: aliceblue; text-decoration: none" >
                <h1><b style="color: #0dcaf0;">A</b>BC</h1>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{/show_product#prices}" class="page-scroll">Back</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header
     banner. photo on css  -->

<header id="header">
    <div class="intro">
        <div class="overlay">
            <div class="container">
                <div class="row">

                    <div class="intro-text">
                        <br><br><br><br><br><br>
                    </div>

                </div>
            </div>
        </div>
    </div></header>

<div id="service">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="menu-section">
                    <h2 class="menu-section-title">Dry-Cleaning</h2>
                    <hr style="height: 2px">

                    <div class="menu-item">
                        <div class="menu-item-name">2 Piece Suit </div>
                        <div class="menu-item-price"> $14.50</div>
                        <div class="menu-item-description"> ... </div>
                    </div>

                    <div class="menu-item">
                        <div class="menu-item-name"> 3 Piece Suit </div>
                        <div class="menu-item-price"> $16.50 </div>
                        <div class="menu-item-description"> ... </div>
                    </div>

                    <div class="menu-item">
                        <div class="menu-item-name"> Trousers </div>
                        <div class="menu-item-price"> $8.00</div>
                        <div class="menu-item-description"> ... </div>
                    </div>

                    <div class="menu-item">
                        <div class="menu-item-name">Coat </div>
                        <div class="menu-item-price"> From $13.50</div>
                        <div class="menu-item-description"> ... </div>
                    </div>

                    <div class="menu-item">
                        <div class="menu-item-name"> Shirt </div>
                        <div class="menu-item-price"> $4.70</div>
                        <div class="menu-item-description"> ... </div>
                    </div>

                    <div class="menu-item">
                        <div class="menu-item-name"> Jacket </div>
                        <div class="menu-item-price"> From $8.70</div>
                        <div class="menu-item-description"> ... </div>
                    </div>

                    <div class="menu-item">
                        <div class="menu-item-name"> Tie </div>
                        <div class="menu-item-price"> $4.40</div>
                        <div class="menu-item-description"> ... </div>
                    </div>

                    <div class="menu-item">
                        <div class="menu-item-name"> Curtains</div>
                        <div class="menu-item-price"> From $40.00</div>
                        <div class="menu-item-description"> ... </div>
                    </div>

                    <div class="menu-item">
                        <div class="menu-item-name"> Knitwear </div>
                        <div class="menu-item-price"> From $7.50</div>
                        <div class="menu-item-description"> ... </div>
                    </div>

                    <div class="menu-item">
                        <div class="menu-item-name"> Dress </div>
                        <div class="menu-item-price"> From $13.20</div>
                        <div class="menu-item-description"> ... </div>
                    </div>

                    <div class="menu-item">
                        <div class="menu-item-name"> Scarf</div>
                        <div class="menu-item-price"> From $7.00</div>
                        <div class="menu-item-description"> ... </div>
                    </div>

                    <div class="menu-item">
                        <div class="menu-item-name"> Skirt </div>
                        <div class="menu-item-price"> From $8.00</div>
                        <div class="menu-item-description"> ... </div>
                    </div>

                    <div class="menu-item">
                        <div class="menu-item-name"> Wedding Dress </div>
                        <div class="menu-item-price"> From $120.00</div>
                        <div class="menu-item-description"> ... </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <script type="text/javascript" src="js/jquery.1.11.1.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/SmoothScroll.js"></script>
    <script type="text/javascript" src="js/nivo-lightbox.js"></script>
    <script type="text/javascript" src="js/jquery.isotope.js"></script>
    <script type="text/javascript" src="js/jqBootstrapValidation.js"></script>
    <script type="text/javascript" src="js/contact_me.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

</div></body></html>